{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.8.695"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
        org.clojure/data.zip {:mvn/version "1.0.0"}
        seancorfield/depstar {:mvn/version "1.0.94"}
        deps-deploy {:mvn/version "0.0.9"}}
 :aliases
 {:jar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
        :main-opts ["-m" "hf.depstar.jar" "depstar-generated.jar" "-v"]}}}
