{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.deps.alpha {:mvn/version "0.11.935"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
        org.clojure/data.zip {:mvn/version "1.0.0"}
        com.github.seancorfield/depstar {:mvn/version "2.1.245"}
        deps-deploy/deps-deploy {:mvn/version "0.0.12"}}
 :aliases
 {:jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.245"}}
        :exec-fn hf.depstar/jar}}}
        ; :exec-args {:aot true}}}}
        ; :main-opts ["-m" "hf.depstar.jar" "depstar-generated.jar" "-v"]}}}
